body {
  background-color: pink;
}
h1 {
  color: black;
  text-align: center;
  font-family: "Courier New";
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: solid;
  border-radius: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.photo1 {
  width: 50%;
}

.photo2 {
  width: 50%;
}

.photo3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 20px;
}

h3 {
  text-align: center;
}
