body {
  background-color: rgb(243, 215, 220);
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Georgia";
  text-shadow: 2px 2px 3px #ff69b4;
  font-size: 30px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
  font-family: Georgia;
}
strong{
  font-family: "Georgia";
  font-size: 30px;
}
p{
  font-family: "Georgia";
  font-size: 20px;
}
ul {
  font-family: "Georgia";
  font-size: 20px;
}
h3 {
  font-family: "Georgia";
  font-size: 30px;
}
ol {
  font-family: "Georgia";
  font-size: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #main-image {
    width: 300px;
  }

  .shops {
    width: 30%;
  }

  .text {
    width: 70%;
  }
}

@media screen and (max-width: 1179px) and (min-width: 1024px){
  #main-image {
    width: 400px;
  }
}

@media screen and (min-width: 1200px){
  #main-image {
    width: 500px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: solid;
  border-radius: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.photo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 20px;
  width: 50%;
}

.photo2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 20px;
  width: 50%;
}

.photo3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 20px;
  width: 50%;
}

.photo4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 20px;
}
h4 {
  text-align: center;
}
